*{
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, #EB455F, #BAD7E9);
    background-position: center;
    background-size: cover;
}

p{
    color: red;
}

body{
    margin: 0;
    padding: 0;
}

#mainContent{
    position: absolute;
    z-index: 99;
    margin: 0;
    padding: 0;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    
}

#mainContent header{
    position: relative;
    font-size: 5rem;
    top: -5.5rem;
    border-bottom: solid .5rem red;
    width: 20rem;
}