/* Color Scheme */

#nothing{
    background-color: #8FB9A8;
    background-color: #FEFAD4;
    background-color: #FCD0BA;
    background-color: #F1828D;
    background-color: #765D69;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #8FB9A8;
}

p{
    color: #F1828D;
}

body{
    margin: 0;
    padding: 0;
    color: #FEFAD4;
}

img{
    height: 50%;
    width: auto;
    
    display: inline-block;
}

#mainContent{
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 0;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #FEFAD4;
    border: solid 3px #F1828D;
    padding: 10px;
    text-align: center;
    z-index: 1;

}

header{
    position: fixed;
    font-size: 5rem;
    left: 25%;
    text-align: center;
    width: 50%;
    z-index: 2;
    top: 2.5%;
}

#mainContent h1{
    position: relative;
    width: 75%;
    height: 5%;
    left: 12.5%;
    align-self: center;
    text-align: center;
    color: #F1828D;
}

#mainContent input{
    position: relative;
    font-size: large;
    border: none;
    width: 50%;
    height: 25%;
    background-color: #F1828D;
    color: #FEFAD4;
    align-self: center;
    text-align: center;
    outline: none;
}

#headerDiv{
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
