*{
    box-sizing: border-box;
}

html::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2.5px);
    pointer-events: none;
}
html{
    background: no-repeat center center fixed;
    background-image: url('../images/mainbackground.jpg');
    -webkit-background-size: cover;
    
    
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p{
    color: red;
}

body{
    margin: 0;
    padding: 0;
}

#mainContent{
    position: absolute;
    z-index: 99;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
