<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Goldberg</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div id="headerDiv">
            <header>Goldberg</header>
        </div>
        
        <div id="mainContent">
            <h1>Broadcast Message</h1>
            <input type="text" value="{{ broadcast }}" readonly />
            <p>{{broadcastImage}}</p>
            <h1>Broadcast Image</h1>
            <img src="{{url_for('static', filename='broadImage.jpg')}}" />
        </div>
    </body>
</html>